<div class="message clearfix">
  <img src="assets/cat1.png">
  <div class="message_box">
    <p class="user_name">
      野良猫1号
      <!-- <span class="time">・8月13日</span> -->
    <p>
    <p class="text">
      <%= tweet.text%>
    </p>
  </div>
</div>